body {
    background-color: #2c2c2c;
    font-family: 'Festive', cursive;
}
.form {
    display: flex;
    justify-content: center;
}
h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}
form {
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #c7c7c7;
}
form input {
    padding: 6px 10px;
    margin-bottom: 20px;
}
form button {
    height: 6px 10px;
    border: none;
    background-color: red;
    cursor: pointer;
    padding: 5px;
}
form button:hover {
    background-color: lightgreen;
}